.effected-text {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.effected-text span {
  white-space: pre-wrap;
  color: white;
  opacity: 0;
  transition: all 0.7s ease;
  transform: translateY(50px);
  display: inline-block;
}

span.fade {
  color: #cea54c;
  opacity: 1;
  transform: translateY(0px);
}

@media (max-width: 1815px) {
  .effected-text {
    font-size: 1.5rem;
  }
}

@media (max-width: 390px) {
  .effected-text {
    font-size: 1.2rem;
  }
}
