.navbar-wrap {
  display: flex;
  flex-direction: column;
}

.navbar-list {
  width: 60%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: white;
  font-size: 2.5rem;
}

.navbar-item {
  text-align: center;
  transition: color 1.5s;
}

.navbar-item:hover {
  cursor: pointer;
  color: #cea54c;
  transition: color 0.4s;
}

.logo-img-container {
  height: 11rem;
  margin: auto;
}

@media (min-width: 1201px) and (max-width: 1919px) {
  .navbar-item {
    text-align: center;
    transition: color 1.5s;
  }

  .navbar-item:hover {
    cursor: pointer;
    color: #cea54c;
    transition: color 0.4s;
  }
}

@media (max-width: 1200px) {
  .navbar-list {
    width: 80%;
    font-size: 2.5rem;
  }

  .logo-img-container {
    height: 8rem;
    margin: auto;
  }
}

@media (max-width: 800px) {
  .navbar-list {
    width: 90%;
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .navbar-list {
    font-size: 1.5rem;
  }

  .logo-img-container {
    height: 5rem;
    margin: auto;
  }
}

@media (max-width: 350px) {
  .navbar-list {
    font-size: 1.3rem;
    width: 90%;
  }
}
