.about-me-text-container {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}

.about-me-text-container p {
  text-align: left;
  color: white;
  font-size: 26px;
  letter-spacing: 1px;
  line-height: 2.5rem;
}

.btn {
  color: aliceblue;
  border-color: aliceblue;
  border-radius: 5px;
  background: none;
  font-size: 20px;
  margin-left: 50%;
  translate: -50% -5%;
  box-shadow: 2px 2px 8px black;
  margin-top: 2rem;
  padding: 0.4rem 1rem 0.2rem;
  transition: color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.btn:hover {
  border-color: #cea54c;
  color: #cea54c;
  translate: -49% 0%;
  box-shadow: none;
}
