@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");

.about-me-text-container {
  width: 70%;
  margin: auto;
  margin-top: 2rem;
  animation: slide-up ease 1.3s;
}

@keyframes slide-up {
  0% {
    transform: translateY(40rem);
  }
  100% {
    transform: translateY(0);
  }
}

.about-me-text-container p {
  font-family: "Kalam", cursive;
  text-align: justify;
  color: white;
  font-size: 22px;
  line-height: 1.7rem;
}

.texts {
  margin-top: 0.6rem;
  padding-top: 0.5rem;
  border-top: 1px dotted rgba(206, 165, 76, 0.5);
}

.btn {
  color: aliceblue;
  border-color: aliceblue;
  border-radius: 5px;
  background: none;
  font-size: 20px;
  margin-left: 50%;
  translate: -50% -5%;
  box-shadow: 2px 2px 8px black;
  margin-top: 2rem;
  padding: 0.4rem 1rem 0.2rem;
  transition: color 0.3s, border-color 0.3s, box-shadow 0.3s;
  animation: slide-up ease 1s;
}

.btn:hover {
  border-color: #cea54c;
  color: #cea54c;
  translate: -49% 0%;
  box-shadow: none;
}

.modal-skills-container {
  width: 59%;
  height: 47%;
  padding: 2% 2%;
  background-color: #313131;
  background: linear-gradient(0.4turn, #313131, #1b1b1b);
  border-radius: 10px;
  box-shadow: 10px 10px 20px black;
  border: 1px solid #cea54c;
  display: none;
  position: fixed;
  left: 21%;
  bottom: 7.7%;
  overflow: auto;
  z-index: 1;
  animation: slide-up-modal ease 1s;
}

.slide-down-modal {
  animation: slide-down-modal ease 1.2s;
}

@keyframes slide-up-modal {
  0% {
    transform: translateY(30rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-down-modal {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(42rem);
  }
}

.skills-content {
  width: 100%;
  margin: auto;
  background: linear-gradient(0.4turn, #494949, #2e2e2e);
  border-radius: 10px;
  padding: 2% 8%;
  box-shadow: 0 0 30px black;
}

.skills-paragraph {
  margin: 2.25rem 0;
  color: #cea54c;
  font-size: 24px;
  line-height: 3rem;
}

.skills-span {
  margin-left: 0.5rem;
  color: aliceblue;
}
