.next-project-btn-container {
  text-align: center;
  margin-top: 2rem;
}

.next-project-btn {
  color: aliceblue;
  border-color: aliceblue;
  border-radius: 5px;
  background: none;
  font-size: 20px;
  box-shadow: 2px 2px 8px black;
  padding: 0.2rem 1rem;
  transition: color 0.3s, border-color 0.3s;
}

.next-project-btn:hover {
  cursor: pointer;
  border-color: #cea54c;
  color: #cea54c;
}

.project-container {
  text-align: center;
  margin-top: 2rem;
  animation: slide-up 1s;
}

.project-container img {
  position: relative;
  background: linear-gradient(0.9turn, #3d3d3d, #181818);
  padding: 1rem;
  border: 1px solid #cea54c;
  border-radius: 10px;
}

.project-container span {
  color: #cea54c;
  letter-spacing: 1px;
  position: absolute;
  top: 71.2%;
  left: 50%;
  translate: -50%;
  padding: 1rem;
  background-color: #181818;
  border-radius: 5px;
  border: 3px solid white;
  animation: slide-up 1s;
}

.projects-links-container {
  padding: 0.5rem 0;
  border: 1px solid #cea54c;
  border-radius: 10px;
  background: linear-gradient(1turn, #3d3d3d, #181818);
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.projects-links-container a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
}

.projects-links-container a:hover {
  color: #cea54c;
}
