.projects-wrap {
  height: 100%;
}

.next-project-btn-container {
  text-align: center;
  margin-top: 2rem;
}

.next-project-btn {
  color: aliceblue;
  border-color: aliceblue;
  border-radius: 5px;
  background: none;
  font-size: 20px;
  box-shadow: 2px 2px 8px black;
  padding: 0.2rem 1rem;
  transition: color 0.3s, border-color 0.3s;
}

.next-project-btn:hover {
  cursor: pointer;
  border-color: #cea54c;
  color: #cea54c;
}

.project-container {
  height: 33.7em;
  text-align: center;
  margin-top: 6rem;
  animation: slide-up 1s;
  z-index: 2;
}

.project-container img {
  position: relative;
  background: linear-gradient(0.9turn, #3d3d3d, #181818);
  padding: 1rem;
  border: 1px solid #cea54c;
  border-radius: 10px;
}

.projects-links-container span {
  font-size: 20px;
  color: white;
  letter-spacing: 1px;
  position: absolute;
  left: 50%;
  translate: -50% -30%;
  padding: 1rem;
  background-color: #181818;
  border-radius: 5px;
  border: 1px solid #cea54c;
}

.projects-links-container {
  position: absolute;
  top: 36%;
  left: 50%;
  translate: -50%;
  padding: 0.5rem 0;
  border: 1px solid #cea54c;
  border-radius: 10px;
  background: linear-gradient(1turn, #3d3d3d, #181818);
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 1.9rem;
}

.projects-links-container a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
}

.projects-links-container a:hover {
  color: #cea54c;
}

.project-slide-down {
  animation: projects-slide-down ease 1.2s;
}

@keyframes projects-slide-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(60rem);
  }
}

.my-repos-link {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  translate: -50%;
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 0.2rem 1rem;
  border: 1px solid #cea54c;
  border-radius: 5px;
  background: linear-gradient(0.9turn, #3d3d3d, #181818);
  transition: color 0.3s;
}

.my-repos-link:hover {
  color: #cea54c;
}
