.home-page-wrap {
  overflow: hidden;
}

.greeting-text-container {
  margin: 1rem 0;
}

.homepage-content-container {
  display: flex;
  justify-content: space-between;
  width: 75vw;
  margin: auto;
  margin-top: 3rem;
  font-size: 2rem;
  text-align: center;
  line-height: 2.8rem;
}

.homepage-content-container img {
  margin-top: 1rem;
}

.homepage-content-container a {
  color: white;
  text-decoration: none;
}

.capstone-video-container {
  width: 45%;
}

.capstone-video-container img {
  width: 100%;
  animation: slide-up ease 1.1s;
}

.capstone-title {
  color: #cea54c;
}

.person-container {
  width: 400px;
}

.person-container img {
  width: 100%;
  margin-bottom: 2rem;
}

.name {
  color: #cea54c;
}

.title {
  color: white;
}

.text30px-hover {
  transition: font-size 0.4s;
}

.text30px-hover:hover {
  font-size: 1.9rem;
  cursor: pointer;
}

.black-hover {
  box-shadow: none;
  transition: box-shadow 1s;
}

.black-hover:hover {
  cursor: pointer;
  box-shadow: 0px 0px 50px black;
  transition: box-shadow 0.5s;
}

.slide-right {
  animation: slide-right ease 1s;
}

.slide-left {
  animation: slide-left ease 1s;
}

.slide-up {
  animation: slide-up ease 1s;
}

/* Animations */
@keyframes slide-up {
  0% {
    transform: translateY(50rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-30rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-70rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(70rem);
  }
  100% {
    transform: translateX(0);
  }
}

/* Media Queries */
@media (max-width: 1840px) {
  .homepage-content-container {
    display: flex;
    width: 80%;
    align-items: center;
    flex-direction: column-reverse;
  }

  .person-container img {
    width: 350px;
  }
}

@media (max-width: 1600px) {
  .person-container img {
    width: 300px;
  }

  .capstone-video-container img {
    width: 150%;
    translate: -15%;
  }
}

@media (max-width: 1300px) {
  .person-container img {
    width: 250px;
  }
}

@media (max-width: 800px) {
  .person-container img {
    width: 200px;
  }
}

@media (max-width: 500px) {
  .person-container img {
    width: 150px;
  }

  .capstone-video-container,
  .person-container {
    font-size: 1.5rem;
  }
}

@media (max-width: 350px) {
  .person-container img {
    width: 100px;
  }

  .capstone-video-container,
  .person-container {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

/* @media (max-width: 1201px) {
  .homepage-content-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    translate: 0 -5%;
    font-size: 1.8rem;
    line-height: 2rem;
    width: 100%;
  }

  .homepage-content-container img {
    width: 150%;
    margin: auto 0;
    translate: -18%;
    margin-top: 2rem;
  }

  .capstone-video-container {
    margin-top: 2rem;
  }

  .name {
    translate: -18%;
    width: 150%;
    margin-bottom: 1rem;
  }

  .title {
    translate: -18%;
    width: 150%;
  }
}

@media (max-width: 450px) {
  .homepage-content-container {
    font-size: 1.4rem;
  }
}

@media (max-width: 390px) {
  .homepage-content-container {
    font-size: 1rem;
    margin-top: 3rem;
  }
} */
