.background-img {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.person-img {
  position: absolute;
  right: 10%;
  top: 35%;
  transition: box-shadow 0.2s;
}

.person-img:hover {
  cursor: pointer;
  box-shadow: 0 0 50px black;
}

.person-container {
  position: absolute;
  width: 500px;
  top: 25%;
  right: 10%;
  text-align: center;
  letter-spacing: 2px;
}

.person-name-div {
  height: 32px;
}

.name {
  color: white;
  font-size: 30px;
  transition: color 0.4s, letter-spacing 0.4s, font-size 0.4s;
}

.name:hover {
  letter-spacing: 3px;
}

.name-hover:hover {
  cursor: pointer;
  font-size: 33px;
}

.person-title-div {
  height: 23px;
  margin-top: 1rem;
  color: #cea54c;
  font-size: 20px;
  transition: letter-spacing 0.4s, font-size 0.4s;
}

.title {
  color: #cea54c;
  font: 20px;
  transition: letter-spacing 0.4s, font-size 0.4s;
}

.title-hover:hover {
  letter-spacing: 3px;
  font-size: 21px;
  cursor: pointer;
}
