.person-img {
  position: absolute;
  right: 10%;
  top: 35%;
  margin-top: 2rem;
  transition: box-shadow 0.4s;
}

.person-img:hover {
  cursor: pointer;
  box-shadow: 0 0 50px black;
}

.person-container {
  position: absolute;
  width: 500px;
  top: 25%;
  right: 10%;
  text-align: center;
  letter-spacing: 2px;
}

.person-name-div {
  height: 32px;
}

.name {
  text-transform: uppercase;
  color: white;
  font-size: 30px;
  transition: color 0.4s, letter-spacing 0.4s, font-size 0.4s;
}

.name-hover:hover {
  cursor: pointer;
  letter-spacing: 2px;
  font-size: 28px;
}

.person-title-div {
  height: 23px;
  margin-top: 1rem;
}

.title {
  text-transform: uppercase;
  color: #cea54c;
  font-size: 22px;
  transition: letter-spacing 0.4s, font-size 0.4s;
}

.title-hover:hover {
  letter-spacing: 2px;
  font-size: 21px;
  cursor: pointer;
}
